{% extends "base_editors.html" %}
{% load staticfiles %}
{% block title %} Event Manager{% endblock %}
{% block heading %}
    <h2>GR AfterHours Event Mangager</h2>
{% endblock %}

{% block content %}
<div class="row">
    <div class="form-group col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1" id="eventFormDiv">
      {% include "event_form.html" with form=eventform %}
    </div>
</div>
<div class="row">
{% if events.count > 0 %}
    <div class="container">
        <div class="row">
            <div class="managedHeader managedEventDiv col-xs-2 col-lg-2">
                <strong>Day</strong>
            </div>
            <div class="managedHeader managedEventDiv col-xs-2 col-lg-2">
               <strong>Start Time | Date</strong>
            </div>
            <div class="managedHeader managedEventDiv col-xs-2 col-lg-2">
                <strong>Tag Line</strong>
            </div>
            <div class="managedHeader managedEventDiv col-xs-2 col-lg-2">
                <strong>Venue</strong>
            </div>
            <div class="managedHeader managedEventDiv col-xs-2 col-lg-2">
                <strong>Edit</strong>
            </div>
            <div class="managedHeader managedEventDiv col-xs-2 col-lg-2">
               <strong>Destroy</strong>
            </div>
        </div>

                {% for event in events %}
                     {% include "eventmanager/managed_event.html" with event=event %}
                {% endfor %}

        </div>
{% endif %}
</div>
{% endblock %}