{% load staticfiles %}
<div class="row managedEventDivRow" id="{{ event.id }}" ondblclick="eventCall({{ event.id }}">
    <div class="managedEventDiv col-xs-2 col-lg-2">
        {{ event.start_time|date:"l" }}
    </div>
    <div class="managedEventDiv col-xs-2 col-lg-2">
        {{ event.start_time|time:"g:i a" }} | {{ event.start_time|date:"M d" }}
    </div>
    <div class="managedEventDiv col-xs-2 col-lg-2">
        {{ event.tagline }}
    </div>
    <div class="managedEventDiv col-xs-2 col-lg-2">
        {{ event.venue }}
    </div>
    <div class="managedEventDiv col-xs-2 col-lg-2" onclick="eventCall({{ event.id }})">
        <i  class="fa fa-pencil-square-o editEvent" aria-hidden="true"></i>
    </div>
    <div class="managedEventDiv col-xs-2 col-lg-2 eventDelete" onclick="deleteEvent('{{ event.id }}', '{{ event.name }}')">
        <i class="fa fa-times" aria-hidden="true" ></i>
    </div>
</div>