{% extends 'base.html' %}
{% block heading %}
{% block mainnavbar %}
    {% include 'mainnavbar.html' %}
{% endblock mainnavbar %}
{% endblock %}
{% block content %}
    <div>
        <div id="leftEventDiv" class="col-md-4 col-sm-12 col-xs-12">
            <div id="eventMask">
                <div  id="eventWrapperDiv">
                    {% include 'events/event_list.html' %}
                </div>
            </div>
        </div>
    </div>
    <div id="middleEventDiv" class="col-md-4 hidden-xs hidden-sm">
       <div id="signup">
            {% include 'events/subscribe.html' %}
       </div>
    </div>
     <div id="rightEventDiv" class="col-md-4 hidden-xs hidden-sm">

    </div>
{% endblock %}