{% load static %}
{% load staticfiles %}
{% load svg %}
{% load rightnow %}


<div id="primaryImage" class="col-md-3 col-xs-3 col-sm-3 evenEventDivClass">
    {% if event.pictures %}
        <img src="{{ event.pictures.url }}" id="primaryimageImg" class="img-responsive"/>
    {% endif %}
</div>
{% if event.pictures %}
     <div id="tagLineDiv" class="col-md-8 evenEventDivClass" onclick="location.href='{{ event.url }}'">
         <h4 class="noselect" id="taglineH2">{{ event.tagline }}<br />
         <small>{{ event.venue }}<br />
        {{ event.start_time|date:"F M d Y" }} @ {{ event.start_time|time:"P" }}</small></h4>
    </div>
{% else %}
    <div id="tagLineDiv" class="col-md-12 evenEventDivClass" onclick="location.href='{{ event.url }}'">
         <h4 class="noselect" id="taglineH2">{{ event.tagline }}<br />
         <small>{{ event.venue }}<br />
        {{ event.start_time|date:"F M d Y" }} @ {{ event.start_time|time:"P" }}</small></h4>
    </div>
{% endif %}



