{% load staticfiles %}
    <div class="row" >
        <ul class="list-unstyled" id="eventUl">
            {% for event in events %}
                {% if forloop.counter|divisibleby:2 %}
                    <li class="well well-sm listedEvent">
                      {% include "events/evenEvent.html" %}
                    </li>
                {% else %}
                    <li class="well well-sm listedEvent">
                      {% include "events/oddEvent.html" %}
                    </li>
                {% endif %}
            {% empty %}
                <li class="list-unstyled"></li>
            {% endfor %}
        </ul>
    </div>


