{% extends 'events/event_list.html' %}
{% load staticfiles %}
{% block title %}{{ owner.username }}{% endblock %}

{% block heading %}
     <h3>
     Welcome {{ owner.username }} check out today's events<br>
     <small>After hours has {{ events.count }} events!</small>
     </h3>
{% endblock %}