{% load static %}
{% load staticfiles %}
{% load svg %}
{% load rightnow %}

{% if event.pictures %}
    <div id="PrimaryImage" class="col-md-10 col-md-offset-1 ">
            <img src="{{ event.pictures.url }}" id="primaryimageImg" class="img-responsive"/>
    </div>
    <div class="clearDiv"> </div>
{% endif %}
{% if event.url.count > 0 %}
    <div id="tagLineDiv" class="col-md-10 col-md-offset-1 " onclick="location.href='{{ event.url }}'">
        <h2  class="noselect" id="taglineH2">{{ event.tagline }} at {{ event.venue }}</h2>
    </div>
{% else %}
     <div id="tagLineDiv" class="col-md-10 col-md-offset-1 " onclick="location.href='{{ event.venue.url }}'">
        <h2  class="noselect" id="taglineH2">{{ event.tagline }} I"m here mate3! {{ event.venue }}</h2>
    </div>
{% endif %}
<div class="clearDiv"></div>
<div class="row" id="timeToGet" >
    <span id="startFeatured">{{ event.start_time|date:'F d' }} at {{ event.start_time|time:"g:i a" }} Hello!!!</span>
</div>

