    <div id="signup-container">
          
        <div id="signup-form" class="col-lg-12">
            <form class='' method="post" action='signup.html'>
                {% csrf_token %}
                Please fill in the following information:&nbsp;<span class="text-red">*</span>&nbsp;= required information
                <label for="username">User Name:</label><span class="text-red">*</span>
                <input type="text" class="form-control" name="username" placeholder="User Name" value=""/>
                
                <label for="firstname">Firstname:</label> 
                <input type="text" class="form-control" name="firstname" placeholder="First Name" value=""/> 
                <label for="lastname">Lastname:</label> 
                <input type="text" class="form-control" name="lastname" placeholder="Last Name" value=""/> 

                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" placeholder="Email" value=""/>
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Password" value=""/>
                <label for="password_confirmation">Password Confirmation:</label>
                <input type="password" class="form-control" name="password_confirmation" placeholder="Password Confirmation"/>
                <input type="checkbox" id="cbNewsletter" name="weeklybeat"/>
                <span id="spanAddNewsletter">
                    Subscribe to the weekly beat!
                </span>
                <button type='submit' class='btn btn-primary'>Sign me up</button>
            </form>
        </div>
    </div>