    <div id="signup-container">
        <div id="signup-form" class="col-lg-12 form-group">
            <form class='' method="post" action='subscribe.html'>
                {% csrf_token %}
                 Get a beat on the GR Night life!
                <div class="form-group">
                    <div class="col-md-6 personsName">
                        <input type="text" class="form-control" name="firstname" placeholder="First Name" value=""/>
                    </div>
                    <div class="col-md-6  personsName">
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" value=""/>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-12">
                    <input type="email" class="form-control" name="email" placeholder="Email" value=""/>
                </div>
                <div class="clear"></div>
                <div class="col-md-2">
                <button type='submit' class='btn btn-primary'>Subscribe</button>
                <div>
            </form>
        </div>
    </div>