{% load static %}
{% load staticfiles %}
{% load svg %}
{% load rightnow %}

{% if event.pictures %}
    <div id="PrimaryImage" class="col-md-10 col-md-offset-1 ">
            <img src="{{ event.pictures.url }}" id="primaryimageImg" class="img-responsive"/>
    </div>
    <div class="clearDiv"> </div>
{% endif %}
{% if event.url.count > 0 %}
    <div id="tagLineDiv" class="col-md-10 col-md-offset-1 " onclick="location.href='{{ event.url }}'">
        <h2  class="noselect" id="taglineH2">{{ event.tagline }} at {{ event.venue }}</h2>
    </div>
{% else %}
     <div id="tagLineDiv" class="col-md-10 col-md-offset-1 " onclick="location.href='{{ event.venue.url }}'">
        <h2  class="noselect" id="taglineH2">{{ event.tagline }} at {{ event.venue }}</h2>
    </div>
{% endif %}
<div class="clearDiv"></div>
<div class="row" id="timeToGet" >
{% if event.start_time|right_now %}
    <p>Starts in {{ event.start_time|timeuntil }} @ {{ event.start_time|time:"P" }}</P>
{% else %}
    <p>Ends in {{ event.end_time|timeuntil }} hurry up!</p>
{% endif %}

</div>

