body {
    height: 600px;
    font-family: "Franklin Gothic Medium Helvetica Neue";
    overflow: hidden;

}
@media only screen and (max-width: 767px) {
    h4{
    font-size: 1.3em;
   }
}

@media only screen and (max-width: 580px) {
    h4{
    font-size: 1.0em;
   }
}


#mainContainer{
    margin-top: 100px;
}


#eventMask{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

#eventWrapperDiv{
    width: 105%;
    height: 100%;
    overflow: scroll;

}


video#bgvid{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}


#grahlogo{
    margin-top: -30px;
    height: 100px;
}

#mainEventContainer{
    position: relative;
    overflow: hidden;
    background-color: rgba(0,0,0,.1);
}


#eventListLU{
    background-color: white;

}



input[type="checkbox"]#cbNewsletter {
/*    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);*/
    width: 30px;
    height: 30px;
    padding: 10px;
    float: left;
}

input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 9px yellow;
}



#btnCancelSignup {
    margin-top: 8px;
}

#btnLoginSubmit {
    margin-top: -3px;
    border-color: #81d5c0;
}

#btnJoin {
    float: right;
    margin-left: 4px;
    margin-top: -3px;
    border-color: #6d86a7;
}

/*This nav bar is for the event manager*/
#nav_bar2{
    position: fixed;
    top:0;
    background-color: rgba(0,0,0,0);
    width: 100%;
    z-index: 2;

}

 #headerImageDiv{
     background-color: rgba(0,0,0,0);
 }
#eventUl{
    margin-top: 30px;
}
 .listedEvent{

     background-color: rgba(25,25,25,.4);
     overflow: hidden;
 }

.listedEvent:hover{
    border: 1px solid white;
    background-color: rgba(25,25,25, .9);
}

#eventText{
    font-size: 1.5em;
}


#firstSocialMedia{
    margin-left: -15px;
}

.navbar-header{
    width: 100%;
}


#nav_bar{
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,1);
    width: 100%;
}



#overHeadBarDiv{
    position: fixed;
    width: 100%;
    margin-top: -50px;
    z-index: 5;

}

#primaryImage{
    margin-right: 10px;
}
.evenEventDivClass{
    padding: 5px;
    position: relative;
    float: left;
    left:0;
    text-align: center;

}

.oddEventDivClass{
    padding: 5px;
    position: relative;
    float: right;
    right: 0;
    text-align: center;

}

#primaryimageImg{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}



#spanAddNewsletter {
    display: block;
    height: 40px;
    padding-top: 8px;
}

#socmeddiv{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#socialMedia{
    text-align: center;
    list-style-type: none;
}

#socialMedia ul{
    display: inline-block;
    margin: 0 auto;
}

#tagLineDiv{
    margin-top: -5px;
    margin-left: -18px;
}

#tagLineDiv:hover{
    text-decoration: underline;
}

#timeToGet{
   color: salmon;
}



#middleEventDiv {
    background-color: rgba(100,100,100, .25);
    border-left: solid 1px rgba(150,150,150, .4);
    border-right: solid 1px rgba(150,150,150, .4);
     height: 93vh; 
}

#signup-container {
    height: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#signup{
    position: absolute;
    bottom: 40%;
    left: 0;
    height: 200px;
    background-color: rgba(0, 50, 0, 0.4);
    border: solid 4px rgba(255, 255, 255, 0.4);
    width: 100%;
    border-radius: 15px 0 15px 0;

}

#signup:hover{
    background-color: rgba(0, 0, 50, 0.8);
    border: solid 4px rgba(255, 203, 5, 0.8);
    border-radius: 0 15px 0 15px;
}



#username{
    font-family: "Arial Black";
    font-size: 1.3em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.eventlist{
    height: 800px;
}

.form-control {
    margin-bottom: 5px;
}

.socialMediali{
    float: left;
    margin: 15px 15px;
}

.socmediaicon{
    height: 30px;
    width: 30px;
}

.text-red {
    color: red;
}

svg{
    height: 40px;
    width: 40px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor:default;
}

.managedEventDiv{
    position: relative;
    float: left;
    cursor: default;

}

#emResetBtn {
    color: red;
}

#eventFormDiv{
    margin-top: 50px;
    border: solid 2px whitesmoke;
    border-radius: 14px;
    padding: 20px;
    background-color: #aaaaaa;
    z-index: 0;
}

#Logo_animated {
    position: absolute;
    z-index: 1000;
    height: 62px;
    left: 0;
    top: 0;
}

.text-muted {
    color: #686767;
}

.managedHeader{
    margin-bottom: 10px;
    border-bottom: solid 1px whitesmoke;
}

.managedEventDivRow{
    border-left: solid 2px palegoldenrod;
}
.managedEventDivRow:hover{
    background-color: #605e5e;
    outline: solid 2px deeppink;
    -moz-outline-radius: 5px;

}

.eventManagerTextfield{
    max-width: 200px;
}
.managedEventDivClear {
    clear: both;
}

.editEvent:hover{
    font-size: 1.5em;
    color: aquamarine;
}

.eventDelete:hover{
    font-size: 1.5em;
    color: hotpink;
}

.topLine{
    position: relative;
    float: left;
    margin-right: 10px;
}

.clearDiv {
    clear: both;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer#footerContainer{
    width: 100%;
}

#copyrightsDiv{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: -50px;
    width: auto;
    vertical-align: bottom;
}

#socialMediaDiv{
    position: relative;
    float: right;
    margin-right: 100px;

}

#facebook{
    position: relative;
    float: right;
    margin: 5px;
}

#twitter{
    position: relative;
    float: right;
    margin: 5px;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
