/*This nav bar is for the event manager*/
#nav_bar2{
    position: fixed;
    top:0;
    background-color: rgba(0,0,0,0);
    width: 100%;
    z-index: 2;

}

.daySelect{
    position: relative;
    float: right;
    background-color: rgba(0,0,0,0);
    height: auto;
    align-content: center;
    color: white;
    margin-left: 50px;
}


.daySelect:hover{
    color: gold;
}

input[type="checkbox"]#cbNewsletter {
/*    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);*/
    width: 30px;
    height: 30px;
    padding: 10px;
    float: left;
}

input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 9px yellow;
}

