#headDiv{
    width: 100%;
    background-color: rgba(255,255,255,1);
}

#titleDiv{

    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
}


/*Grand Rapids After Hours Logo*/
#grahlogo{
    display: block;
    margin: 0 auto;
}

.h3Title{
    margin: 0;
}

#wrapper{
    min-height: 600px;
    background-color: #00dba3;
}

#subwrapper{
    min-height: 599px;
    background-color: rgba(255,255,255,.97);
}

#bigEvents{
    background-color: transparent;
    min-height: 50px;

}

#bigEventsTitle{
    text-align: center;
    color: black;
    background-color: #a0d1ff;
}


#monday{
    background-color: transparent;
    min-height: 55px;
    margin-bottom: 40px;

}

#mondayTitle{
    text-align: center;
    color: black;
    background-color: #a0d1ff;
    margin-bottom: 10px;
}

#tuesday{
    background-color: transparent;
    min-height: 55px;
    margin-bottom: 40px;

}

#tuesdayTitle{
    text-align: center;
    color: black;
    background-color: #a0d1ff;
    margin-bottom: 10px;
}

#wednesday{
    background-color: transparent;
    min-height: 55px;
    margin-bottom: 40px;
}

#wednesdayTitle{
    text-align: center;
    color: black;
    background-color: #a0d1ff;
    margin-bottom: 10px;
}

#thursday{
    background-color: transparent;
    min-height: 55px;
    margin-bottom: 40px;
}

#thursdayTitle{
    text-align: center;
    color: black;
    background-color: #a0d1ff;
    margin-bottom: 10px;
}

.eventDayDiv{
    margin-top: 10px;

}

.eventDayDiv:hover{
     outline: solid 1px ghostwhite;
}
.dayDiv{
    margin-top: 25px;
    color: black;
    text-align: center;
}
.dayTitle{
    margin-top: 10px;
    font-size: 1.55em;
}

.weeklyPics{
    display: block;
    margin: 0 auto;
}

.eventContainer{
    margin: 5px;
}

.eventText{
    text-align: center;
    color: #1a1a1a;
}

.venueText{
    color: #00803a;
}

a{
    color:deepskyblue;
}

.startTime{
    font-weight: bold;
}

.noEvent{
    position: relative;
    text-align: center;
    margin-top: 100px;
    height: 40px;
    font-weight: bold;
    font-size:2em;
}