{% load staticfiles %}
      <nav id="nav_bar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div id="headerImageDiv">
                <a class="navbar-brand" href="#">
                  <video id="Logo_animated"   autoplay preload="auto" loop >
                    <source src="{% static 'video/grah_logoanim04.webm' %}" type="video/mp4">
                  </video>
                </a>
            </div>
           <!-- <div >
                <a class="navbar-brand" href="#"><img id="grahlogo" class="img-responsive" src="{% static 'img/grahlogo.png' %}" alt="Grand Rapids After Hours" /></a>
            </div> -->
          <div  class="navbar-collapse collapse">
            {% if currentPage == "/events/signup.html" %}
              <a href="/" class="btn btn-danger pull-right" id="btnCancelSignup">Cancel</a>          
            {% else %}
              {% block toggle_login %}
                 {% include "toggle_login.html" %}
              {% endblock %}
            {% endif %}
          </div><!-- navbar-collapse -->
        </div>
      </nav>