{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Sign Up
{% endblock title %}

{% block mainnavbar %}
    {% include 'mainnavbar.html' %}
{% endblock mainnavbar %}   

{% block content %} 
    <div id="signup-container">
        <div class="col-lg-3">
        </div>
          
        <div id="signup-form" class="col-lg-6">
            <form class='' method="post" action='events/signup.html'>
                {% csrf_token %}
                Please fill in the following information:&nbsp;<span class="text-red">*</span>&nbsp;= required information
                <label for="username">User Name:</label><span class="text-red">*</span>
                <input type="text" class="form-control" name="username" placeholder="User Name" value=""/>
                
                <label for="firstname">Firstname:</label> 
                <input type="text" class="form-control" name="firstname" placeholder="First Name" value=""/> 
                <label for="lastname">Lastname:</label> 
                <input type="text" class="form-control" name="lastname" placeholder="Last Name" value=""/> 

                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email" placeholder="Email" value=""/>
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Password" value=""/>
                <label for="password_confirmation">Password Confirmation:</label>
                <input type="password" class="form-control" name="password_confirmation" placeholder="Password Confirmation"/>
                <input type="checkbox" id="cbNewsletter" name="newsletter"/> 
                <span id="spanAddNewsletter">
                    Yes, I want Grand Rapids After Hours Newsletter emailed to me.
                </span>
                <button type='submit' class='btn btn-primary'>Sign me up</button>
            </form>
        </div>
    </div>
<script type="text/javascript">
    $("#nav_bar").css({ "top": 0, "background-color": "#000" });
</script>
{% endblock content %}