{% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span id="username">{{ user.first_name }}</span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                {% if isAdmin %}
                    <li><a href="/admin/">Admin</a> </li>
                {% endif %}
                {% if isEventManager %}
                    <li><a href="{% url 'events:event_manager' %}">Event Manager</a> </li>
                {% endif %}
                <li><a href="{% url 'grah_logout' %}">Logout</a> </li>
            </ul>
        </li>
    </ul>
{% else %}

    <form class="navbar-form navbar-right" role="form" action="{% url 'grah_login' %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
        <div class="form-group frontPageLogin">
            <input type="text" placeholder="Username" class="form-control" name="username">
        </div>
        <div class="form-group frontPageLogin">
            <input type="password" placeholder="Password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-success" id="btnLoginSubmit">Sign in</button>
        <div class="form-group">
            <a href="{% url 'events:signup' %}" id="btnJoin" class="btn btn-primary frontPageLoginJoin">Join</a>
        </div>
    </form>


{% endif %}