{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/weeklybeat.css' %}" >
    <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
    <title>Weekly Beat </title>
</head>
<body>
<div id="headDiv">
    <div id="titleDiv">
       <a href="http://108.175.10.157">
           <img class="img-responsive" id="grahlogo" src="{% static 'img/grahlogo.png' %}" />
       </a>
        <h3 class="h3Title">YOUR GUIDE TO AFTER HOURS</h3>
        <h3 class="h3Title">GRAND RAPIDS EVENTS</h3>
    </div>
</div>
{% block content %}{% endblock %}
</body>
<footer>
    <div id="footerDiv">

    </div>
</footer>
</html>