{% extends 'weeklybeat_base.html' %}
{% block content %}
<div class="container" id="wrapper">
    <div class="col-md-12" id="subwrapper">
        <div class="col-md-8 col-md-offset-2" id="bigEvents">
            {% for event in featured %}
                <div class="col-md-8 col-md-offset-2 eventDayDiv">
                    {% if event.pictures %}
                    <div>
                        <img class="img-responsive weeklyPics" src="{{ event.pictures.url }}"/>
                    </div>
                    {% endif %}
                    <div class="eventText">
                        {% if not event.url %}
                            <span><a href="{{ event.venue.url }}">{{ event.tagline }}</a></span><br/>
                        {% else %}
                         <span><a href="{{ event.url }}">{{ event.tagline }}</a></span><br/>
                        {% endif %}
                        <span class="startTime">{{ event.start_time|date:"P" }}</span> @ <span class="venueText">{{ event.venue }}</span>
                    </div>
                </div>
            {% empty %}
                 <div class="noEvent">
                <h3>No featured Events</h3>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-8 col-md-offset-2 dayDiv" id="monday">
            <div class="col-md-6 col-md-offset-3" id="mondayTitle">
                <h1 class="h1 dayTitle">{{ weekdays.0|date:"l - F d, Y" }}</h1>
            </div>
            {% for event in monday %}
                <div class="col-md-8 col-md-offset-2 eventDayDiv">
                    {% if event.pictures %}
                    <div>
                        <img class="img-responsive weeklyPics" src="{{ event.pictures.url }}"/>
                    </div>
                    {% endif %}
                    <div class="eventText">
                        {% if not event.url %}
                            <span><a href="{{ event.venue.url }}">{{ event.tagline }}</a></span><br/>
                        {% else %}
                         <span><a href="{{ event.url }}">{{ event.tagline }}</a></span><br/>
                        {% endif %}
                        <span class="startTime">{{ event.start_time|date:"P" }}</span> @ <span class="venueText">{{ event.venue }}</span>
                    </div>    
                </div>
            {% empty %}
            <div class="noEvent">
                <h3>No events Monday</h3>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-8 col-md-offset-2 dayDiv" id="tuesday">
            <div class="col-md-6 col-md-offset-3" id="tuesdayTitle">
                <h1 class="h1 dayTitle">{{  weekdays.1|date:"l - F d, Y" }}</h1>
            </div>
            {% for event in tuesday %}
                <div class="col-md-8 col-md-offset-2 eventDayDiv">
                    {% if event.pictures %}
                    <div>
                        <img class="img-responsive weeklyPics" src="{{ event.pictures.url }}"/>
                    </div>
                    {% endif %}
                    <div class="eventText">
                        {% if not event.url %}
                            <span><a href="{{ event.venue.url }}">{{ event.tagline }}</a></span><br/>
                        {% else %}
                         <span><a href="{{ event.url }}">{{ event.tagline }}</a></span><br/>
                        {% endif %}
                        <span class="startTime">{{ event.start_time|date:"P" }}</span> @ <span class="venueText">{{ event.venue }}</span>
                    </div>
                </div>
            {% empty %}
             <div class="noEvent">
                <p>No events Tuesday</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-8 col-md-offset-2 dayDiv" id="wednesday">
            <div class="col-md-6 col-md-offset-3" id="wednesdayTitle">
                <h1 class="h1 dayTitle">{{  weekdays.2|date:"l - F d, Y" }}</h1>
            </div>
            {% for event in wednesday %}
                <div class="col-md-8 col-md-offset-2 eventDayDiv">
                    {% if event.pictures %}
                    <div>
                        <img class="img-responsive weeklyPics" src="{{ event.pictures.url }}"/>
                    </div>
                    {% endif %}
                    <div class="eventText">
                        {% if not event.url %}
                            <span><a href="{{ event.venue.url }}">{{ event.tagline }}</a></span><br/>
                        {% else %}
                         <span><a href="{{ event.url }}">{{ event.tagline }}</a></span><br/>
                        {% endif %}
                        <span class="startTime">{{ event.start_time|date:"P" }}</span> @ <span class="venueText">{{ event.venue }}</span>
                    </div>
                </div>
            {% empty %}
                <div class="noEvent">
                    <h3>No events Wednesday</h3>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-8 col-md-offset-2 dayDiv" id="thursday">
            <div class="col-md-6 col-md-offset-3" id="thursdayTitle">
                <h1 class="h1 dayTitle">{{  weekdays.3|date:"l - F d, Y" }}</h1>
            </div>
            {% for event in thursday %}
                <div class="col-md-8 col-md-offset-2 eventDayDiv">
                    {% if event.pictures %}
                    <div>
                        <img class="img-responsive weeklyPics" src="{{ event.pictures.url }}"/>
                    </div>
                    {% endif %}
                    <div class="eventText">
                        {% if not event.url %}
                            <span><a href="{{ event.venue.url }}">{{ event.tagline }}</a></span><br/>
                        {% else %}
                         <span><a href="{{ event.url }}">{{ event.tagline }}</a></span><br/>
                        {% endif %}
                        <span class="startTime">{{ event.start_time|date:"P" }}</span> @ <span class="venueText">{{ event.venue }}</span>
                    </div>
                </div>
            {% empty %}
            <div class="noEvent">
                <h3>No events Thursday</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
